ip-172-31-19-173.us-west-1.compute.internal
ip-172-32-12-89.us-west-1.compute.internal
ip-172-33-4-84.us-west-1.compute.internal
ip-172-34-23-44.us-west-1.compute.internal
ip-172-35-55-26.us-west-1.compute.internal