'Microsoft-Windows-Security-Auditing'
'splunk-otel-collector'
'signalfx-agent'
'Service Control Manager'
'Microsoft-Windows-Security-SPP'
'Microsoft-Windows-Kernel-General'
'gupdate'
'Microsoft-Windows-FilterManager'
'Microsoft-Windows-CAPI2'
'EventLog'
'Microsoft-Windows-WindowsUpdateClient'
'Microsoft-Windows-Kernel-Boot'
'MsiInstaller'
'Microsoft-Windows-DriverFrameworks-UserMode'
'Microsoft-Windows-WPDClassInstaller'
'Application Error'
'Microsoft-Windows-Dhcp-Client'
'Microsoft-Windows-Directory-Services-SAM'
'Microsoft-Windows-Kernel-Power'
'Microsoft-Windows-Kernel-Processor-Power'
'Microsoft-Windows-LoadPerf'
'Microsoft-Windows-Ntfs'
'Microsoft-Windows-RestartManager'
'Microsoft-Windows-Time-Service'
'Microsoft-Windows-UserPnp'
'Microsoft-Windows-WMI'
'Microsoft-Windows-Winlogon'
'Schannel'
'Desktop Window Manager'
'Microsoft-Windows-DHCPv6-Client'
'Microsoft-Windows-MSDTC 2'
'Microsoft-Windows-WinRM'
'Microsoft-Windows-Wininit'
'User32'
'gupdatem'