The time service is now synchronizing the system time with the time source
2021-01 Update for Windows Server 2019 for x64-based Systems (KB4589208)
2022-02 Cumulative Update Preview for .NET Framework 3.5, 4.7.2 and 4.8 for Windows Server 2019 for x64 (KB5011267)
2022-03 Cumulative Update for Windows Server 2019 (1809) for x64-based Systems (KB5011503)
Security Intelligence Update for Microsoft Defender Antivirus - KB2267602 (Version 1.359.1623.0)
Security Intelligence Update for Microsoft Defender Antivirus - KB2267602 (Version 1.359.1714.0)
Security Update for Windows Server 2019 for x64-based Systems (KB4535680)
Windows Malicious Software Removal Tool x64 - v5.98 (KB890830)
Windows Malicious Software Removal Tool x64 - v5.99 (KB890830)